---
layout: layout.liquid
title: 11ty Boilerplate
---
<h2>Welcome to the Explorer's Log</h2>
<p>Follow the journey across the stars...</p>
<ul>
    <li><a href="/logs/planet-x/">Log 1: Planet X</a></li>
    <li><a href="/logs/red-dusk/">Log 2: Planet Erm</a></li>
</ul>